:root{
    --site-red: #ED1C22
}
@font-face {
    font-family: openSans;
    src: url("../assets/fonts/openSans.ttf");
}
@font-face {
    font-family: dungeon;
    src: url("../assets/fonts/dungeon.ttf");
}
@font-face {
    font-family: riseOfKingdom;
    src: url("../assets/fonts/riseOfKingdom.ttf");
}
