@font-face {
    font-family: openSans;
    src: url("assets/fonts/openSans.ttf");
}
@font-face {
    font-family: dungeon;
    src: url("assets/fonts/dungeon.ttf");
}

html, body{
    padding: 0;
    margin: 0;
}
body{
    background: #f9f9f9 url(assets/images/background.png) repeat;
    text-align: center;
}
h1{
    font-family: dungeon, serif;
    font-size: 60px;
    margin: 5px auto;
}
#navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: black;
}
#navBarLogoBarImage{
    width: 45px;
    margin: 5px 10px 5px 5px;
}
.navBarLink{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: auto 15px;
    font-family: openSans, sans-serif;
}
#homePageTitle{
    color: #ED1C22;
}